/* استدعاء خط كايرو */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* إجبار الخط على كامل الموقع */
* {
  font-family: 'Cairo', sans-serif !important;
}

/* إلغاء أي هوامش افتراضية */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* لمنع السكرول نهائياً */
}